<form class="container">
  <div class="input-name">
    <label for="exampleInputEmail1" class="form-label">Nombre y Apellido</label>

    <input
      type="text"
      class="form-control"
      id="exampleInputEmail"
      name="fullname"
      [(ngModel)]="user.name"
    />
    <div id="emailHelp" class="form-text">Agrega tu nombre y apellidos</div>
  </div>

  <div class="input-country">
    <label for="exampleInputPassword1" class="form-label">Pais</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      name="country"
      [(ngModel)]="user.country"
    />
  </div>

  <button type="button" class="button" (click)="submit()">
    Submit
  </button>
</form>
