.container {
  border:3px solid blue;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap:50px;
  width: 400px;
  height: 200px;
}

.name {
  display: flex;
  gap: 50px;
  font-size: 20px;
}

label { 
  height: 30px;
}

.country {
 display: flex;
 gap: 180px;
 font-size: 20px;
}

.selector {
  border:1px solid #d9d9d9;
  height:30px;
  overflow: hidden;
  width: 160px;
  position:relative;
}
select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 250px;
}
select:focus{ outline: none;}

.selector::after{
 content:"\025be";
 display:table-cell;
 padding-top:7px;
 text-align:center;
 width:30px;
 height:30px;
 background-color :#bde0fe;
 position:absolute;
 top:0;
 right:0px;	
 pointer-events: none;
}
.button {
  padding: 5px;
  width: 100px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  border:3px solid black;
  background-color: #bde0fe;
  cursor: pointer;
}