.body {
  background-color: #e5e5e5;
  border: 1px solid black;
  padding: 20px;
}

p {
  font-family: Lato;
}
.first-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border: 3px solid green;
}

.appUser {
  font-size: 25px;
  border: 1px solid blue;
}
.profileUser {
  margin-top: 20px;
  padding: 30px;
  border: 3px solid green;
}

.appProfileUser {
  font-size: 20px;
}
